<br>
<br>
<footer class="footer box d-flex justify-content-between border-top">
        <div class="flex-item">
            <a class="nav-link" href="mailto:ekinimod@free.fr">
                <i class="far fa-envelope-open"></i>
                Contact
            </a>
        </div>
        <div class="flex-item">
            <a class="nav-link" href="#">
                <i class='fa fa-copyright fa-1x'></i>
                Ekinimod 1992-{{ "now"|date("Y") }}
            </a>
        </div>
        <div class="flex-item">
            <a class="nav-link " href="#">
                <i class='fa fa-map fa-1x'></i>
                Plan du site
            </a>
        </div>
</footer>