<!--barre notification / etat / autre...-->

<menuNotif class="menuNotif box push btn-toolbar mb-md-0  d-flex flex-row-reverse">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">etat</button>
            <button class="btn btn-sm btn-outline-secondary">autre</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            notification
        </button>
</menuNotif>